<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/6.7.1/css/font-awesome.min.css}"/>
    <script defer
            th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}">
    </script>
    <title>File De-Duplicator</title>
<body>
<!--Footer Start-->
<footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top fixed-bottom">
    <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="/">
            <svg class="bi" height="24" width="30">
                <use xlink:href="redirect:/index"></use>
            </svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">© 2024, Arvind Singh Rawat</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-body-secondary" href="#">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        </li>
        <li class="ms-3"><a class="text-body-secondary" href="#">
            <i class="fa-brands fa-linkedin-in"></i>
        </a>
        </li>
        <li class="ms-3"><a class="text-body-secondary" href="#">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        </li>
        <li class="ms-3"><a class="text-body-secondary" href="#">
            <i class="fa-brands fa-medium"></i>
        </a>
        </li>
    </ul>
</footer>
<!--Footer End-->
</body>
</html>