<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<header>
    <nav class="navbar navbar-expand-lg navbar-dark"
         style="background: linear-gradient(40deg,var(--bs-indigo),var(--bs-teal))">
        <div class="container">
            <a class="navbar-brand"
               href="https://library.livecanvas.com/sections/">
                <i class="fa-solid fa-file-half-dashed d-inline-block align-center mx-2 img-fluid"
                   height="30"
                   width="30"
                ></i>
                <span editable="inline">
                    File De-duplicator
                </span>
            </a>
            <button aria-controls="myNavbar1"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-bs-target="#myNavbar1"
                    data-bs-toggle="collapse"
                    type="button"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                 id="myNavbar1">
                <div class="live-shortcode me-auto"
                     lc-helper="shortcode">
                    <!--  lc_nav_menu -->
                    <ul class="navbar-nav"
                        id="menu-menu-1">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-32739"><a
                                class="nav-link "
                                href="https://library.livecanvas.com/starters">
                            <!--  Menu Option 1-->
                        </a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home nav-item nav-item-32738">
                            <a class="nav-link "
                               href="https://library.livecanvas.com/sections/">
                                <!--  Menu Option 2-->
                            </a>
                        </li>
                    </ul>
                    <!-- /lc_nav_menu -->
                </div>
                <div class="lc-block">
                    <!-- Menu option 3                    -->
                </div>
            </div>
        </div>
    </nav>

</header>

</body>
</html>